<div class="m-auto">
  <div class="flex">
    <div class="w-2/6 p-4">
      <%= turbo_frame_tag "new-exam" do %>
        <%= button_to "New Exam", new_admin_exam_path, class: "btn btn-primary mb-4", method: "get" %>
      <% end %>
      <div id="exam-list" class="grid gap-2">
        <%= render partial: "list_item", collection: @exams, as: :exam, locals: { current_exam: @exam } %>
      </div>
    </div>
    <div class="w-3/6 h-screen overflow-auto border-l p-4">
      <div class="mb-4">
        <%= link_to "View Code", exam_test_path(exam_id: @exam.id, id: @exam.tests.first.id), class: "text-xs text-blue-500", target: "_blank" %>
      </div>
      <%= render partial: "comments", locals: { exam: @exam, comment: @comment } %>
    </div>
  </div>
</div>
