<% @test = @exam.tests.first %>
<% @test_answer = @exam.test_answers.find_by(test_id: @test.id) %>
<div class="p-4">
  <div class="flex">
    <div class="w-3/6">
      <div class="border p-4 rounded-md">
        <div class="mb-4"><%= @test.title %></div>
        <div><%= markdown(@test.description) %></div>
      </div>
    </div>
    <div class="w-full">
      <%= form_with url: answer_path(@test_answer), authenticity_token: false, method: :patch, id: 'answer-form' do %>
        <%= hidden_field_tag :test_answer_id, @test_answer.id %>
        <%= hidden_field_tag :language, 'ruby' %>
        <%= text_area_tag :answer, @test_answer.answer, id: "code-editor", class: "p-4 border rounded-md w-full mb-4 h-full", rows: 15 %>
        <div class="flex justify-end">
          <%= submit_tag "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
      <% end %>
    </div>
    <div class="w-2/6">
      <div class="border p-4 rounded-md">
        <div class="mb-4">Result</div>
        <div class="grid grid-cols-1 gap-2" id="test-result:<%= @test_answer.id %>">
        </div>
      </div>
    </div>    
  </div>
</div>
