<%= turbo_stream_from @answer %>
<div class="h-screen flex flex-col">
  <div class="flex justify-between p-2 border">
    <div class="text-sm flex items-center justify-center">
      <%= @exam.test_position(@test) %> / <%= @exam.total_tests %>
    </div>
    <div class="flex justify-end gap-2">
      <%= render partial: "actions", locals: {exam: @exam, test: @test} %>
    </div>
  </div>
  <div class="flex h-full flex-1">
    <div class="w-2/6 px-4">
      <div class="py-4 text-sm">
        <div class="mb-4"><%= @test.title %></div>
        <div class="markdown-body text-sm"><%= markdown(@test.description) %></div>
      </div>
    </div>
    <div class="w-4/6" data-controller="code-editor" data-action="resize@window->code-editor#resizeCodeEditor">
      <div id="code-editor-status" data-code-editor-target="status" class="text-xs bg-gray-200 py-2 px-4 absolute right-0 z-50">
        Saved
      </div>
      <div class="flex flex-col border-l justify-between h-full">
        <%= form_with url: answer_path(@answer), authenticity_token: false, method: :patch, id: "answer-form", class: "h-4/6", data: {'code-editor-target': 'form'} do %>
          <%= hidden_field_tag :language, "ruby" %>
            <%= text_area_tag :answer, @answer.answer, id: "code-editor", class: "p-4 w-full mb-4", rows: 15 %>
        <% end %>
        <div class="h-2/6 shrink-0 border-t bg-gray-800 text-white overflow-auto" id="code-runner" data-code-editor-target="output">
          <%= link_to "Run", exam_test_run_path(exam_id: @exam, test_id: @test), id: "code-runner-button", class: "btn btn-primary absolute right-0 m-4", data: { "turbo-method": "post" } %>
          <div id="code-runner-output" class="mardown-body text-xs p-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
