<div class="h-screen flex flex-col">
  <div class="flex justify-between p-4 border">
    <div class="w-1/3"></div>
    <div class="w-1/3 text-sm flex items-center justify-center">
      <%= @exam.test_position(@test) %> / <%= @exam.total_tests %>
    </div>
    <div class="w-1/3 flex justify-end gap-2">
      <% if @exam.prev_test(@test) %>
        <%= link_to "Back", exam_test_path(exam_id: @exam.id, id: @exam.prev_test(@test)), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-8 rounded" %>
      <% else %>
        <%= link_to "Back", "#", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-8 rounded cursor-not-allowed opacity-25" %>
      <% end %>
      <% if @exam.next_test(@test) %>
        <%= link_to "Next", exam_test_path(exam_id: @exam.id, id: @exam.next_test(@test)), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-8 rounded" %>
      <% else %>
        <%= link_to "Next", "#", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-8 rounded cursor-not-allowed opacity-25" %>
      <% end %>
      <% if @exam.last_test(@test) %>
        <%= link_to "Submit", "#", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-8 rounded" %>
      <% else %>
        <%= link_to "Submit", "#", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-8 rounded cursor-not-allowed opacity-25" %>
      <% end %>
    </div>
  </div>
  <div class="flex gap-4 h-full flex-1 px-4">
    <div class="w-2/6">
      <div class="p-4 text-sm">
        <div class="mb-4"><%= @test.title %></div>
        <div class="markdown-body text-sm"><%= markdown(@test.description) %></div>
      </div>
    </div>
    <div class="w-4/6" data-controller="code-editor">
      <div id="code-editor-status" data-code-editor-target="status" class="text-xs bg-gray-200 py-2 px-4 absolute right-0 z-50">
        Saved
      </div>
      <%= form_with url: answer_path(@answer), authenticity_token: false, method: :patch, id: "answer-form", class: "h-full", data: {'code-editor-target': 'form'} do %>
        <%= hidden_field_tag :language, "ruby" %>
        <%= text_area_tag :answer, @answer.answer, id: "code-editor", class: "p-4 w-full mb-4", rows: 15 %>
      <% end %>
    </div>
  </div>
</div>
